@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
.register-container {
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

.welcome-text1 {
  color: rgb(0, 94, 255);
  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin-bottom: 20px; /* Provide space below the welcome text */
}

.sign-in1 {
  color: gray;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin-bottom: 40px; /* Provide space below the sign-in text */
}

.input-group {
  margin-top: 30px;
}

.input-group select,
.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffff;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  cursor: pointer;
  padding-right: 30px; 
}


.input-group select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
}


.done-button {
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.done-button:hover {
  background-color: rgb(0, 94, 255);
  color: white;
}


.account-text1 {
  text-align: center;
  margin-top: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.navigation-button1,
.navigation-button2 {
  background-color: rgba(255,255,255,0.5);
  padding: 10px 20px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-button1:hover,
.navigation-button2:hover {
  background-color: rgb(0, 94, 255);
  color: white;
}


.additional-info-container {
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px; 
}

.info-heading {
  color: rgb(0, 94, 255);
  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-top: 30px;
}


.input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(255, 255, 255); 
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    /* drop down arrow image */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
    padding-right: 30px; 
  }

.input-group-skills ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.input-group-skills li {
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  box-shadow: 0px 2px 4px #00000033;
  margin: 10px;
}

.input-group-skills button.add{
  width: 100px;
  background: rgb(0, 94, 255);
  color: #ffff;
  margin-left: 10px;

}

button.remove{
  background: none;
  padding: 0;
  padding-left: 10px;
  color: #797979;
  font-weight: 300;
}

button.remove:focus{
  border: none;
  outline: none;
}

.skill-list{
  list-style-type: none;
}

.input-group-skills input{
  width: 74%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-label {
    color: rgb(0, 0, 0);
    font-family: "League Spartan", sans-serif;
    margin-bottom: 8px;
    
  }
  

.done-button {
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.done-button:hover {
  background-color: rgb(0, 94, 255);
  color: white;
}

.additional-info-container .experience{
  border: none;
  display: flex;
  border-radius: 0;
  padding: 0;
}

.additional-info-container .experience p{
  color: black;
}

.additional-info-container .fields{
  display: flex;
  flex-direction: column;
}

.fields input{
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;

}