.student{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-self: center;
    flex-direction: column;
    height: 100%;
    scroll-behavior: smooth;
}

.main{
    margin: 0;
    display: grid;
    padding: 0;
    background: rgb(255, 255, 255);
}
.topbar{
    z-index: 1;
}
.separation{
    z-index: 1;
}

.display{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-right: 2rem;
    column-gap: 10px;
    display: flex;
    flex-direction: column;

}

.student .wrap{
    margin-left: 1rem;
}

.display .top{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-bottom: 10px;

}

.background{
    background-color: rgb(165, 165, 165);
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.display .bio{
    border: 1px solid rgb(230, 230, 230);
    padding: 10px;
    padding-left: 10px;
    padding-top: 40px;
    background: #ffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.display .pfp{
    position:absolute;
    height: 80px;
    margin-top: 160px;
    margin-left: 30px;
    z-index: 0;
    left: 24%;
}
.display .bio .info{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}

.bio .info p{
    font-size: 16px;
    margin-left: 30px;
    margin-right: 0;
}

.bio .bioText{
    text-align: left;
    margin-left: 30px;
    font-size: 16px;
    padding-right: 10px;
}
.bio .btm{
    display: flex;
    padding-left: 87%;
    padding-bottom: 20px;
}
.student .bio button{
    font-size: 14px;
    background: rgb(188, 188, 188);
    border-radius: 20px;
    display: flex;

}

/* OTHER */

.other{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.other h1{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}
/* ACTIVITY */
.posts2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.posts_small{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}


.ps1{
    border-bottom: 1px solid gainsboro;
}
.ps1 text{
    padding-left: 20px;
    text-align: left;
}

button.footer {
    background: #ffff;
    font-size: 16px;
    
}


/*  HIRING    */
.postJob{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.postJob .ewrap{
    display: grid;
    gap: 0;
    grid-template-columns:min-content;
}
.postJob img{
    grid-column-start: 1;
    column-width: 130px;
}

.postJob p{
    grid-column-start: 2;
    padding-left: 30px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 40px;
    padding: 0;
    text-align: left;
    margin-inline-end: 0;
}
.postJob button{
    grid-column-start: 3;
    height: 40px;
    border-radius: 30px;
    background: rgba(72, 148, 255, 0.867);
    margin-top: 30px;
    font-size: 16px;
    width: 100px;
    margin-left: 100px;
    color: #ffff;
}
/*  SKILLS */

.job_openings{
    display: flex;
    flex-direction: column;
    border:1px solid gainsboro;
    border-radius: 5px;
    padding: 20px;

}

.job_openings .elist{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 30px;
}

.example img{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.job_openings .example{
    padding: 20px;
    border: 1px solid gainsboro;
    font-size: 16px;
    text-align: left;
    line-height: 15px;
    border-radius: 5px;
}

.example:hover{
    box-shadow: 0px 0px 4px #00000063;
}
